@media screen and (max-width: 500px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    list-style: none;
  }
  i {
    background-image: linear-gradient(45deg, #2ca1d8, #0353af);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  #testmon {
    display: none;
  }
  body {
    background: #abbedf;
  }
  header {
    width: 100%;
    height: 65px;
    background-color: #002880;
    position: fixed;
    z-index: 100;
    top: 0;
  }
  nav {
    width: 90%;
    height: 100%;
    /* background: blue; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .logo {
    width: 30%;
    height: 100%;
    /* background: teal; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header img {
    width: 65px;
    height: 65px;
  }
  #ul {
    position: absolute;
    top: 0;
    right: 35px;
    width: 55%;
    height: 0;
    /* background: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* opacity: 0; */
    transition: 0.5s;
    overflow: hidden;
    /* display: none; */
    background: #002980e0;
  }
  #ul li a {
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;
    color: #002880;
    -webkit-text-stroke: 0.5px #00d363;
  }
  #burger {
    width: 35px;
    height: 35px;
    /* background-color: beige; */
    padding: 5px;
    position: relative;
    visibility: visible;
  }
  #burger div {
    width: 25px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #burger :nth-child(1) {
    top: 20%;
    transition: 0.5s;
  }
  #burger :nth-child(2) {
    top: 50%;
    transition: 0.2s;
  }
  #burger :nth-child(3) {
    top: 80%;
    transition: 0.5s;
  }

  #burger.active :nth-child(1) {
    /* background-color: red; */
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  #burger.active :nth-child(2) {
    opacity: 0;
    top: 50%;
    transform: translatey(-50%);
  }
  #burger.active :nth-child(3) {
    /* background-color: green; */

    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  #ul.active {
    height: 150px;
  }

  /* end header  ------------------- */

  .margin {
    width: 100%;
    height: 1000px;
    color: cadetblue;
  }

  #landing {
    width: 100%;
    height: 200px;
    background: #486db1;
    margin-top: 65px;
    overflow: hidden;
  }
  #landing .content {
    width: 100%;
    height: 40%;
    /* background-color: teal; */
    padding: 10px;
  }
  #landing .content .heading {
    font-size: 22px;
    font-weight: 900;
    background-image: linear-gradient(45deg, #486db1, #022163);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #00d363;
  }

  #landing .content .footing {
    color: white;
    letter-spacing: 2px;
  }
  #landing form {
    width: 100%;
    height: 60%;
    /* background: #c7d4cd; */
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  #landing form .box {
    width: 100%;
    height: 40%;
    /* background: #829e8f; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }
  #landing form .box input {
    width: 120px;
  }
  #landing select {
    width: 120px;
  }
  .btn {
    width: fit-content;
    padding: 5px 15px;
    background: #00d363;
    border: 1px solid transparent;
    /* font-size: 20px; */
    font-weight: 700;
    text-transform: capitalize;
    transition: 0.5s;
    cursor: pointer;
    color: white;
  }

  .grad {
    width: 100%;
    height: 80px;
    background: linear-gradient(#486db1, #abbedf);
  }

  #view {
    width: 100%;
    min-height: 65vh;
    /* background:teal; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 100px;
    padding: 20px;
  }
  .card {
    width: 90%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    border: 1px solid #00d363;
    /* display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; */
  }
  .card .bottom {
    width: 100%;
    height: 100%;
  }
  .card b {
    width: 40px;
    height: 24px;
    background: #00d363;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translatex(-50%);
    border-radius: 50%;
  }
  .card .top {
    display: none;
  }
  .card .left {
    width: 100%;
    height: 45%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card .left img {
    border-radius: 50%;
    width: 190px;
    height: 190px;
  }
  .card .mid {
    width: 100%;
    height: 40%;
    /* background-color: rgb(21, 255, 0); */
  }
  .card .mid img {
    width: 20px;
    height: 20px;
  }
  .card .mid ul {
    width: 100%;
    height: 100%;
    /* background-color: rgb(255, 60, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    overflow: visible;
  }
  .card .mid ul li:first-child {
    /* background-color: #00d363; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card .mid ul li {
    width: 75%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
  }
  .card .right {
    width: 100%;
    height: 15%;
    /* background-color: rgb(0, 47, 255); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  footer {
    width: 100%;
    /* height:450px; */
    background-color: #002880;
    padding: 5px;
    /* padding-bottom: 10px; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
  }
  footer .x {
  }
  footer .logo {
    width: 200px;
    height: 15%;
  }
  footer .logo img {
    width: 50px;
    height: 50px;
  }
  footer .logo p {
    font-size: 25px;

    font-weight: 900;
    color: white;
  }
  footer .text {
    width: 330px;
    /* background-color: teal; */
    color: gray;
  }
  footer .text p {
    /* background-color: teal; */
    color: rgb(136, 134, 134);
  }

  .socialMedia {
    width: 50px;
    height: 160px;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .socialMedia i {
    font-size: 25px;
  }
  .core {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45%;
    /* background-color: red; */
  }

  .middel {
    width: 100%;
    height: 40%;
    /* background: orange; */
    /* margin-top: 30px; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }

  footer .middel .left {
    width: 50%;
    height: 100%;
    /* background:#abbedf; */
    padding: 5px;
  }
  .middel p {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 5px;
    color: white;
    text-transform: capitalize;
  }
  footer .middel .right {
    width: 50%;
    height: 100%;
    /* background:#134db3; */
    padding: 5px;
  }
  footer .middel ul {
    margin-left: 15px;
    color: rgb(136, 134, 134);
  }

  footer .middel ul li {
    padding-bottom: 5px;
    margin-top: 5px;
    border-bottom: 1px solid rgb(0, 140, 255);
  }
  footer .middel ul li a {
    text-transform: capitalize;
    color: rgb(136, 134, 134);
  }

  footer .bottom {
    width: 90%;
    height: 30px;
    /* background-color:  rgb(72, 72, 150); */
    border-top: 1px solid rgb(0, 140, 255);
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer .bottom p {
    color: white;
  }

  .margin {
    width: 100%;
    height: 800px;
    background: cornflowerblue;
  }
}
