{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="grad"></div>

    <section id="formSec">
        <h1 class="heading">create add</h1>
        <form method="POST" class='mainForm'>
          {% csrf_token %}

          <div>
            {{form.address}}
          

          </div>
          
          <div>
            {{form.weatingHours}}
          
          </div>

          <div>
          {{form.price}}
            
          </div>

          <div>
            {{form.workingHours}}

          </div>
          <div class="errors">
            {{form.errors}}
          </div>
          



          
          
          
          
          
          <input type="submit" value="save" class="btn">
        </form>
      </section>

{% endblock content %}


