{% extends 'base.html' %} {% load static %} {% block content %}
<div class="grad"></div>

<section id="formSec">
  <h1>create your profile</h1>

  <form method="POST" class="mainForm column" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
      {{epif.phone}}

    </div>

    <div class="imgInputFeild">
      <span>photo</span>
      <i class="fa-solid fa-camera"></i>

      {{epif.img}}
    </div>

    <div> 
      {{epif.are_you_doctor}}

    </div>
    <div class="errors">{{epif.errors}}</div>

    <input type="submit" value="done" class="btn" />
  </form>
</section>

{% endblock content %}
