{% extends 'base.html' %} {% load static %} {% block content %}
<div class="grad"></div>

<section id="formSec">
  <h1>edite your profile</h1>
  <form method="POST" class="mainForm" enctype="multipart/form-data">
    {% csrf_token %}

    <div> {{epif.phone}}</div>
    <div class="imgInputFeild">
      <span>photo</span>
      <i class="fa-solid fa-camera"></i>

      {{epif.img}}
    </div>
    <div> {{euif.email}}</div>
    <div> {{euif.first_name}}</div>
    <div class="full"> {{euif.last_name}}</div>
    <input type="submit" value="update" class="btn" />
  </form>
</section>

{% endblock content %}
