{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="grad"></div>


<!-- <h1 class="cond">{{check}}</h1> -->
<h1 class="cond">{{cond}}</h1>
  <section id="view" data-highlight="false">
    
    
    {% for card in cards %}
    <div class="card">
      <b class="senp"></b>
      <div class="top">
        <a href='' class="name">{{card.user.first_name}} {{card.user.last_name}}</a>
      </div>
      <div class="bottom">
        <div class="left">
        <img src="{{card.img.url}}" alt="" class="DocImg" />

        </div>
        <div class="mid">
          <ul data-highlight="false">
            <li>
              <i class="fa-solid fa-location-dot"></i>
              
              <p>{{card.address}}</p>
            </li>
            <li>
              <i class="fa-solid fa-tag"></i>

              <p>{{card.price}} $</p>
              
            </li>
            <li>
              <i class="fa-solid fa-pause"></i>

              <p>{{card.weatingHours}}</p>
              
            </li>
            <li>
              <i class="fa-solid fa-briefcase"></i>
              
              <p>{{card.workingHours}}</p>
            </li>
            <li>
              <i class="fa-solid fa-phone"></i>

              <p>0{{card.phone}}</p>
              
            </li>
          </ul>
        </div>
        <div class="right">
          <a href="" class="btn">book now</a>
          <a href="" class="btn">chat</a>
        </div>
      </div>
    </div>
      
    {% endfor %}
      

    
    
  </section>
  <section id="testmon">
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="" class="btn">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="" class="btn">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="" class="btn">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="" class="btn">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="" class="btn">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="" class="btn">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="" class="btn">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="" class="btn">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="" class="btn">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="" class="btn">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="" class="btn">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="" class="btn">book now</a>
      </div>
    </div>
    <div class="tcard">
      <div class="top">
        <img src="{% static 'img/doc.jpg' %}" alt="" />
      </div>
      <div class="mid">
        <p class="name">soliman elmasr</p>
        <p class="jop">develeper</p>
      </div>
      <div class="bottom">
        <a href="" class="btn">book now</a>
      </div>
    </div>

  </section>


  

{% endblock content %}