{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="formSec">


    <form method="POST"     class="mainForm">
        {% csrf_token %}

        <div>
            <span>password</span>
            {{form.new_password1 }}
        </div>
        <div>
            <span>confirm password</span>
            {{form.new_password2 }}
        </div>


        <input type="submit" value="SEND" class="btn">
    </form>
    <div class='error'>
        {{form.errors}}
    </div>
    
</section>




{% endblock content %}





